<div class="form_box" > <!-- RESERVE SCHEDULE BOX Why did this have a 'return false' onclick-->
    <div id="blur_box"> </div>
    <h2> Reserve Now </h2>
    <h4> Just one-click away </h4>
    <hr>
    <div class="input">
        <form action="/Reservation" method="post">

            {{!-- <div class="button_box">
                <div id="btn"></div>
                <button type="button" class="switch" id="laguna_btn" onclick="left_click();">To Laguna</button>
                <button type="button" class="switch" id="manila_btn" onclick="right_click();">From Laguna</button> 
            </div> --}}

            <br>

            <input type="text" required placeholder="ID Number" class="fillup" name="id_number" id="id_number" style="position: relative; top: -25px; display: block;" value="" pattern="[0-9]+" minlength="8" maxlength="8">
            
            <div>
                <select required name="user_entry" id="user_entry" class="fillup" onchange="ready_change_time('user_entry','user_entryTime'); ready_change_time('user_entry','user_exitTime');" style="position: relative; top: -25px; display: block;">
                    <option value="" disabled selected hidden s> Select Trip </option>
                    <option value="MNL"> Line 1: DLSU Manila to DLSU-LAG </option>
                    <option value="Paseo"> Line 2: Paseo to DLSU-LAG </option>
                    <option value="Carmona"> Line 3: Carmona to DLSU-LAG </option>
                    <option value="Pavilion"> Line 4: Pavilion Mall to DLSU-LAG </option>
                    <option value="Walter"> Line 5: Walter Mart to DLSU-LAG </option>
                </select>
            </div>

            <label for="id_number"></label>
            <input type="hidden" id="hidden_start_campus" required name="hidden_start_campus" value="">
            <input type="hidden" id="hidden_ID_number"  name="hidden_ID_number" value="">
            <input type="hidden" id="hidden_entry_loc" name="hidden_entry_loc" value="">
            <input type="hidden" id="hidden_entry_time" name="hidden_entry_time" value="">
            <input type="hidden" id="hidden_exit_loc" name="hidden_exit_loc" value="">
            <input type="hidden" id="hidden_exit_time" name="hidden_exit_time" value="">
            <input type="hidden" id="admin_id" name="admin_id" value="">
            
            
            <input type="date" class="fillup" required name="user_date" id="user_date" >

            <div class="entry">
                <img id="help_entry" src="../images/Help.png" style="width: 25px; height: 25px; position: relative; filter:invert(1); top: 15px; left:10px; cursor: help;" title="From home, location going to be picked up.">
                {{!-- <select required name="user_entry" id="user_entry" class="fillup" onchange="ready_change_time('user_entry','user_entryTime');" style="width: 185px; margin: 10px; position: relative; left: 5px; ">
                    <option value="" disabled selected hidden s> Entry Location </option>
                    <option value="0"> Paseo -> DLSU LC </option>
                    <option value="1"> Carmona -> DLSU LC  </option>
                    <option value="2"> Pavilion Mall -> DLSU LC </option>
                    <option value="3"> Walter Mart -> DLSU LC </option>
                    <option value="4"> N/A </option>
                </select> --}}
                <h5 id="help_entry_text">  </h5>
                <select required name="user_entryTime" id="user_entryTime" class="fillup" style="width: 120px; ">
                    <option value="" disabled selected hidden s> Time Slot </option>
                    <option value="0"> 06:00 AM </option>
                    <option value="1"> 07:30 AM </option>
                    <option value="2"> 09:30 AM </option>
                    <option value="3"> 11:00 AM </option>
                    <option value="4"> 01:00 PM </option>
                    <option value="5"> 02:30 PM </option>
                    <option value="6"> 03:30 PM </option>
                    <option value="7"> 05:10 PM </option>
                    <option value="8"> 06:15 PM </option>
                    <option value="9"> 05:10 PM </option>
                    <option value="10"> 07:45 PM </option>
                    <option value="11"> N/A </option>
                </select>
            </div>

            <div class="exit"> </style>
                <img id="help_exit" src="../images/Help.png" style="width: 25px; height: 25px; position: relative; filter:invert(1); top: 15px; left:10px; cursor: help;" title="From De La Salle University, location going to be dropped-off.">
                <h5 id="help_exit_text">  </h5>
                {{!-- <select required name="user_exit" id="user_exit" class="fillup" onchange="ready_change_time('user_exit','user_exitTime');" style="width: 185px; margin: 10px; position: relative; left: 5px;">
                    <option value="" disabled selected hidden s> Exit Location </option>
                    <option value="0"> DLSU LC -> DLSU Manila </option>
                    <option value="1"> DLSU LC -> Paseo </option>
                    <option value="2"> DLSU LC -> Carmona </option>
                    <option value="3"> DLSU LC -> Pavilion Mall </option>
                    <option value="4"> DLSU LC -> Walter Mart </option>
                    <option value="5"> N/A </option>
                </select> --}}
                <select required name="user_exitTime" id="user_exitTime" class="fillup" style="width: 120px;">
                    <option value="" disabled selected hidden s> Time Slot </option>
                    <option value="0"> 06:00 AM </option>
                    <option value="1"> 07:30 AM </option>
                    <option value="2"> 09:30 AM </option>
                    <option value="3"> 11:00 AM </option>
                    <option value="4"> 01:00 PM </option>
                    <option value="5"> 02:30 PM </option>
                    <option value="6"> 03:30 PM </option>
                    <option value="7"> 05:10 PM </option>
                    <option value="8"> 06:15 PM </option>
                    <option value="9"> 05:10 PM </option>
                    <option value="10"> 07:45 PM </option>
                    <option value="11"> N/A </option>
                </select>
            </div>
                
            <button type="submit" class="toggle_btn" id="reserve_btn" onclick="populate_fields()"><!--onclick="hide_schedule_form();"--> Reserve <style> .toggle_btn{ font-size: large; font-weight: bold;}</style></button>
        </form>
        
    </div>

    <div class="subtext">
        <a onclick="cancel_schedule_form();" style="cursor:pointer;">Cancel </a>
    </div>

</div>