<!DOCTYPE html>
<!-- Turn into HBS -->

<html>
    <head>
        <title> Arrow Express - Home  </title> 
        <link rel="icon" type="image/png" href="../images/DLSU_Logo.png">
        <link rel="stylesheet" href="../css/mobile.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        
        <style> 
            form{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                align-items: left;
            }

            .landing{
                height: 100%; 
            }

            input{
                display: inline;
                height: 4rem;
                font-size: 3rem;
                border-radius: 1rem;

                padding: .5rem 1rem;
                border: 0;
                
                transition: 150ms box-shadow;
                background:linear-gradient(to bottom, hsl(180, 3%, 0%), hsl(180, 3%, 7%)) ;

                color: white;
            }

            input:focus{
                outline: none;
                box-shadow: 0 0 1rem rgba(0, 119, 30, 1);
            }

            .form_label {
                font-size: 2rem;
                text-align: left;
                letter-spacing: .2rem;
            }

            .form_item {
                display: flex;
                flex-direction: column;
                gap: .5rem;
            }

            .landing_box{
                margin: 15rem 5rem 10rem 5rem;
                padding-bottom: 2rem;
            }

            .primary_button {
                margin-top: 3rem;
            }

            .subtext > a, .subtext > a:visited{
                font-size: 2rem;
                text-decoration: none;
                font-weight: 100;
                color: white;
            }

            @media (min-aspect-ratio: 4/3) {
                .landing_box{
                    margin: 15rem 40rem 10rem 40rem;
                }
            }
        </style>
    </head>
    <body>
        <script> 

             window.onload = function(){

                var check = "{{isValid}}";
                var checkCodeChange = "{{codeChange}}";
                var checkLoginCode = "{{isCodeCorrect}}"
                var checkRegistered = "{{isRegistered}}"

                document.getElementById("error_box").style.display = "none";

                if ( check == "false" ){
                    document.getElementById("error_box").style.display = "block";

                    setTimeout(function(){
                        document.getElementById("error_box").style.display = "none";
                    }, 3000);
                }

                if ( checkCodeChange == "true"){
                    document.getElementById("success_box").style.display = "block";
                    $("#success_message").text("Password changed successfully!");
                    

                    setTimeout(function(){
                        document.getElementById("success_box").style.display = "none";
                    }, 3000);
                }
                else{
                    document.getElementById("success_box").style.display = "none";
                }

                if ( checkLoginCode == "false" ){

                    document.getElementById("error_box").style.display = "block";
                    $("#error_message").text("Security code is incorrect. Please try again.");

                    setTimeout(function(){
                        document.getElementById("error_box").style.display = "none";
                    }, 3000);
                }

                if ( checkRegistered == "true" ){
                    document.getElementById("success_box").style.display = "block";
                    $("#success_message").text("Account registered successfully!");
                    

                    setTimeout(function(){
                        document.getElementById("success_box").style.display = "none";
                    }, 3000);
                }

             }

            $("#loginForm").submit(function(e){
                e.preventDefault();
            });
            
        </script>
        
        <div class="navbar">
            <div class="navbar_top">
                <img src="../images/DLSU_Logo.png">
                <h2>De La Salle University</h2>
                <button id="navbar_button"><div class="arrow"></div></button>
                <div class="navbar_desktop">
                    <a href="/">HOME</a>
                    <a href="/Search">SEARCH</a>
                    <a href="/Login">LOGIN</a>
                </div>
            </div>
            <div class="navbar_content">
                <a href="/">HOME</a>
                <a href="/Search">SEARCH</a>
                <a href="/Login">LOGIN</a>
            </div>
        </div>
        

        <div class="landing_background"></div>
        <div class="landing">
            <div class="landing_box">
                <div style="display: flex; flex-direction: column; gap: 0rem;">
                    <h1>Login</h1>
                    <h6>Ready, Set, and Go!</h6>
                </div>

                <form action="/Login" id="loginForm" method="post">
                    <div class="form_item">
                        <h6 class="form_label">ID Number</h6>
                        <label for="user_idNumber"></label>
                        <input type="text" class="fillup" name="user_idNumber" id="user_idNumber" required pattern="[0-9]+" minlength="8" maxlength="8" >
                    </div>

                    <div class="form_item">
                        <h6 class="form_label">Password</h6>
                        <label for="user_password"></label>
                        <input type="password" class="fillup" name="user_password" id="user_password" required>
                    </div>
                    
                    <button type="submit" class="primary_button"> Login </button>
                </form>
                
                <div class="subtext">
                    <a href="/SignUp"> Register | </a>
                    <a href="/ForgotPassword"> Forgot Password? </a>
                </div>

                
                <div style="display: flex; flex-direction: column; margin-top: auto; width:100%; opacity:0.3;">
                    <hr>
                    <p style="align-self: center; font-size: 2rem; letter-spacing: 0.2rem;">XX22 Group 1 © 2024</p>
                </div>
            </div>
        </div>

        
        

        <script>
            $(".navbar_top").on("click", function(){
                $(".arrow").toggleClass("arrow_pressed");
                $(".navbar_content").toggleClass("navbar_open");
            })

        </script>
    </body>
</html>
