<!DOCTYPE html>
<!-- Turn into HBS -->

<html>
    <head>
        <title> Arrows Express - Sign Up </title> 
        <link rel="icon" type="image/png" href="../images/DLSU_Logo.png">
        <link rel="stylesheet" href="../css/mobile.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="../js/User.js"> </script>
        <script src="../js/validator.min.js" type="text/javascript"></script>
        <script src="../js/SignUp.js"> </script>

        <style> 
            form{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                align-items: left;

                width: 100%;
            }

            .landing{
                height: 100%; 
            }


            input, select{
                display: inline;
                height: 4rem;
                font-size: 3rem;
                border-radius: 1rem;

                padding: .5rem 1rem;
                border: 0;
                
                transition: 150ms box-shadow;
                background:linear-gradient(to bottom, hsl(180, 3%, 0%), hsl(180, 3%, 7%), hsl(128, 86%, 9%)) ;
                background-size: 100% 200%;

                color: white;
                transition: 150ms background-position-y;
            }

            select {
                padding: 1rem 1rem;
                height: auto;
            }

            input:valid, select:valid{
                background-position-y: 100%;
            }

            input:focus{
                outline: none;
                box-shadow: 0 0 1rem rgba(0, 119, 30, 1);
            }

            .form_label {
                font-size: 2rem;
                text-align: left;
                letter-spacing: .2rem;
                font-weight: 100;
            }

            .form_item {
                display: flex;
                flex-direction: column;
                gap: .2rem;
                width: 100%;
            }

            .form_group{
                display: flex;
                flex-direction: row;
                gap: 0.4rem;
                width: 100%;
            }

            .landing_box{
                margin: 15rem 5rem 10rem 5rem;
                padding-bottom: 2rem;
            }

            .primary_button {
                margin-top: 3rem;
            }

            .subtext > a, .subtext > a:visited{
                font-size: 2rem;
                text-decoration: none;
                font-weight: 100;
                color: white;
            }

            @media (min-aspect-ratio: 4/3) {
                .landing_box{
                    margin: 15rem 40rem 10rem 40rem;
                }
            }
        </style>
    </head>
    <body>
        
        <div class="navbar">
            <div class="navbar_top">
                <img src="../images/DLSU_Logo.png">
                <h2>De La Salle University</h2>
                <button id="navbar_button"><div class="arrow"></div></button>
                <div class="navbar_desktop">
                    <a href="/">HOME</a>
                    <a href="/Search">SEARCH</a>
                    <a href="/Login">LOGIN</a>
                </div>
            </div>
            <div class="navbar_content">
                <a href="/">HOME</a>
                <a href="/Search">SEARCH</a>
                <a href="/Login">LOGIN</a>
            </div>
        </div>

        <div class="landing_background"></div>
        <div class="landing">
            <div class="landing_box">
                <div style="display: flex; flex-direction: column; gap: 0rem;">
                    <h1>Sign Up</h1>
                    <h6>It's quick and easy</h6>
                </div>

                <form action="/SignUp" method="post">
                    <div class="form_group">
                        <div class="form_item" style="width: 55%;">
                            <label class="form_label">First Name</label>
                            <input type="text"  class="fillup name" required name="user_first_name" id="user_first_name">                    
                        </div>

                        <div class="form_item" style="width: 45%;">
                            <label class="form_label">Last Name</label>
                            <input type="text" class="fillup name" required name="user_last_name" id="user_last_name">                    
                        </div>
                    </div>

                    <div class="form_item">
                        <label class="form_label">Email</label>
                        <input type="email" class="fillup" required name="user_email" id="user_email">
                    </div>

                    <div class="form_item">
                        <label class="form_label">ID Number</label>
                        <input type="text" class="fillup" required name="id_number" id="id_number" pattern="[0-9]+" minlength="8" maxlength="8" >
                    </div>

                    <div class="form_group">
                        <div class="form_item" style="width: 55%;">
                            <label class="form_label">Password</label>
                            <input type="password" class="fillup" required name="user_password" id="user_password">
                        </div>

                        <div class="form_item" style="width: 45%;">
                            <label class="form_label">4-Digit Pin Code</label>
                            <input type="password" class="fillup" required name="user_security_code" id="user_security_code" pattern="[0-9]+" minlength="4" maxlength="4" >
                        </div>
                    </div>
                    
                    <div class="form_group">
                        <div class="form_item" style="width: 55%;">
                            <label class="form_label">Designation</label>
                            <select name="user_designation" id="user_designation" class="fillup" required >
                                <option value="" disabled selected hidden s> -- </option>
                                <option value="Student"> Student </option>
                                <option value="Guest"> Guest </option>
                                <option value="Faculty"> Faculty </option>
                                <option value="ESP"> ESP </option>
                                <option value="CAP"> CAP </option>
                                <option value="ASF"> ASF </option>
                                <option value="APSP"> APSP </option>
                            </select>
                        </div>

                        <div class="form_item" style="width: 45%;">
                            <label class="form_label">Passenger Type</label>
                            <select name="user_passenger_type" id="user_passenger_type" class="fillup" required >
                                <option value="" disabled selected hidden s> -- </option>
                                <option value="Student"> Student </option>
                                <option value="Employee"> Employee </option>
                            </select>
                        </div>
                    </div>
                    
                    <button type="submit" class="primary_button"> Sign Up </button>
                </form>
                
                <div class="subtext">
                    <a href="/Login"> Login </a>
                    
                </div>

                
                <div style="display: flex; flex-direction: column; margin-top: auto; width:100%; opacity:0.3;">
                    <hr>
                    <p style="align-self: center; font-size: 2rem; letter-spacing: 0.2rem;">XX22 Group 1 © 2024</p>
                </div>
            </div>
        </div>

        
        

        <script>
            $(".navbar_top").on("click", function(){
                $(".arrow").toggleClass("arrow_pressed");
                $(".navbar_content").toggleClass("navbar_open");
            })

        </script>
    </body>
</html>
